* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
    line-height: 1.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background: #111;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo span { color: #00bcd4; }

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}


.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00bcd4, #2196f3);
    color: white;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #111;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 15px;
}


section {
    padding: 80px 8%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}


.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skills-container span {
    background: #00bcd4;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
}


.contact {
    background: #111;
    color: white;
    text-align: center;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 30px 0;
}


footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 15px;
}


#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    border: none;
    background: #00bcd4;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #111;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 20px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}