* {
    margin: 0;
    padding: 0;

}

header {
    height: 60px;
    width: 100vw;
    background: rgba(15, 23, 42, 0.85);
    z-index: 1000;
    position: fixed;
   

}

.nav {
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-right: 60px;
    font-size: 18px;
    font-weight: 600;
}

.nav a {
    color: azure;
    text-decoration: none;
    margin-top: 20px;
}
main{
    background-color: #3a4153;
    height: auto;   
}

.heading{
    padding: 200px;
    font-size: 55px;
    width: 700px;
    height: 300px;
    color: antiquewhite;


}

.about{
    font-size: 20px;
    color: aliceblue;

}

.about h2{
    margin-bottom: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(112, 147, 246);

}
.about p{
    border: 3px solid rgb(21, 37, 70);
    padding: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    
}
.about h3{
    margin: 30px;
    color: aquamarine;

}
.skills{
    margin-top: 55px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: aquamarine;

}
#tech{
display: flex;
justify-content: center;
text-align: center;
align-content: center;
flex-wrap: wrap;
}
#tech p{
    height: 140px;
    width: 130px;
    margin: 45px;
    border: 3px solid rgb(9, 31, 83);
    border-radius: 25px;
    padding: 30px;
    color: bisque;
    font-size: 25px;
    align-content: center;   
}

.pro_title{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: rgb(14, 203, 206);
    margin: 30px;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.project-content{
    height: 170px;
    width: 300px;
    border: 3px solid rgb(31, 22, 111);
    border-radius: 25px;
    margin: 30px;
    padding: 30px;
    font-size: 20px;
    align-content: center;
    text-align: center;
}

.project-content h3{
    color: rgb(233, 227, 219);
    font-size: 30px;
    padding: 10px;
}
footer{
    background-color: midnightblue;
    height: 700px;
}
.contact-title{
    color: brown;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding: 50px;

}

.contact-item{
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 3px solid rgb(32, 183, 213);
    border-radius: 30px;
    background-color: rgb(61, 41, 81);
    margin: 30px;
    padding: 20px;
    font-size: 30px;
    width: 650px;
    color: bisque;
}
.social-links{
    margin: 30px;
    margin-top: 70px;
}
.social-links a{
    font-size: 35px;
    text-decoration: none;
    background-color: blue;
    color: rgb(247, 238, 238);
    border: 3px solid rgb(36, 101, 182);
    border-radius: 14px;
    padding: 20px;
    margin: 20px;
}

